<!DOCTYPE html>
<html lang="en">
{{> layout/head}}
<body>
{{> layout/nav}}

<!-- main -->
<section class="container mt-5"></section>
<form action="/newcategory" method="post" enctype="multipart/form-data">
    <h2>New Category</h2>
    <div>
        <label>Name: </label>
        <input name="name" placeholder="name"/>
    </div>
    <div>
        <label>Author: </label>
        <textarea name="Author" placeholder="author"></textarea>
    </div>

    <p>Categorys: </p>

    <select name="selectedCategories" multiple>
        {{#availableCategories}}
        <option value="{{ id }}">{{ name }}</option>
        {{/availableCategories}}
    </select>
    <p>
        <button onclick="location.href='/'; return false;">Cancel</button>
        <input type="submit" value="Save"/>
    </p>
</form>

</body>
{{> layout/footer}}
</html>







