<!DOCTYPE html>
<html lang="en">
{{> layout/head}}
<body>
{{> layout/nav}}

<!-- main -->
<section class="container mt-5"></section>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h1 class="display-4 font-weight-bolder">User has been deleted</h1>
                <p class="lead">Press the botton to return to home page</p>
            </div>
        </div>
    </div>
</section>

<section class="container mt-2 mb-5">
    <div class="text-center">
        <button class="btn card-button" onclick="location.href='/ '">Back</button>
    </div>
</section>

</body>
{{> layout/footer}}
</html>