<!DOCTYPE html>
<html lang="en" xmlns:c="" xmlns:th="http://www.w3.org/1999/xhtml">
{{> layout/head}}
<body>
{{> layout/nav}}

<!-- main -->
<section class="container mt-5"></section>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-1">
                <h1 class="display-4 font-weight-bolder">{{book.title}}</h1>
                <p class="lead">{{book.author}}</p>
            </div>
        </div>
    </div>
    <div class="card mx-auto" style="width: 50rem">
        <div class="container mt-3">
            <div class="row">
                <div class="col mx-auto">
                    {{#book.image}}
                    <img class="rounded img-thumbnail" src="/books/{{book.id}}/image" style="height: 420px">
                    {{/book.image}}
                </div>
                <div class="col">
                    <p><b>Categories where book is available:</b></p>
                    <ul>
                        {{#book.categories}}
                        <li><a href="/categories/{{id}}">{{name}}</a></li>
                        {{/book.categories}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-1">
                <h1 class="display-4 font-weight-bolder">New Review</h1>
                <p class="lead">Add a new review of {{book.title}} book </p>
            </div>
        </div>
    </div>

 <!--Review form -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <form action="/books/{{book.id}}/addreview" method="post" enctype="multipart/form-data">
        <div>
            <label>Name: </label>
            <input class="form-control" name="name" placeholder="Name"/>
        </div>
        <div>
            <label>Description: </label>
            <div id="editor"></div>
            <textarea style="display: none;" id="description-textarea" name="description"></textarea>
        </div>
        <p>
            <button class="btn card-button mt-2" type="submit">Save</button>
        </p>
    </form>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var quill = new Quill('#editor', {
                theme: 'snow'
            });

            quill.on('text-change', function () {
                var html = quill.root.innerHTML;
                document.getElementById('description-textarea').value = html;
            });
        });

    </script>



    <!--<form action="/books/{{id}}/addreview" method="post" enctype="multipart/form-data">
        <div>
            <label>Name: </label>
            <input class="form-control" name="name" placeholder="name"/>
        </div>
        <div>
            <label>Description: </label>
            <input class="form-control" name="description" placeholder="description"/>
        </div>
        <p>
            <button class="btn card-button mt-2"  type="submit">Save</button>
        </p>
    </form> -->

<!--Show review -->
   <div class="row mx-auto">
        {{#book.reviews}}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-dark card-has-bg click-col" style="background-image:url('/img/ListBookCard.jpg'); background-size: cover;">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <small class="card-meta mb-2">{{book.title}} review</small>

                        <div class="review-content">

                            <h4 class="card-title mt-0">{{name}} review:</h4>
                            <div class="description">{{{description}}}</div>
                        </div>
                        <button class="btn card-button" onclick="location.href='/book/{{book.id}}/review/{{id}}'">Delete Review</button>
                    </div>
                </div>
            </div>
        </div>
        {{/book.reviews}}
    </div>


   <!-- <div class="row mx-auto">
        {{#book.reviews}}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-dark card-has-bg click-col" style="background-image:url('/img/ListBookCard.jpg'); background-size: cover; ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <small class="card-meta mb-2">{{book.title}} review</small>
                    <h4 class="card-title mt-0 "><a class="text-dark" href="/books">{{name}} review: {{description}}</a></h4>
                    <button class="btn card-button" onclick="location.href='/book/{{book.id}}/review/{{id}}'">Delete Review</button>
                </div>
            </div>
        </div></div>
        {{/book.reviews}}
    </div> -->


<p>
    <button class="btn card-button" onclick="location.href='/books'">Back to all books</button>
    <button class="btn card-button" onclick="location.href='/book/{{book.id}}/delete'">Delete book</button>

</p>


</section>
</body>
{{> layout/footer}}
</html>