<!DOCTYPE html>
<html lang="en" xmlns:c="">
{{> layout/head}}
<body>
{{> layout/nav}} <!-- Cuando carge la pagina va a sustituir lo que hay en nav.html aqui -->

<!-- main -->
<section class="container mt-5"></section>
<h2>Book "{{book.title}}"</h2>

<p>{{book.author}}</p>


{{#book.image}}
<img class="rounded " src="/books/{{book.id}}/image" style="height: 300px">
{{/book.image}}


<p> <b>Categories where book is available:</b></p>
<ul>
    {{#book.categories}}
    <li><a href="/categories/{{id}}">{{name}}</a></li>
    {{/book.categories}}

</ul>


<form action="/books/{{id}}/addreview" method="post" enctype="multipart/form-data">
    <h2>New Review</h2>
    <div>
        <label>Name: </label>
        <input name="name" placeholder="name"/>
    </div>
    <div>
        <label>Description: </label>
        <input name="description" placeholder="description"/>
    </div>
    <p>
        <input type="submit" value="Save"/>
    </p>
</form>

<p> <b>Reviews of the book:</b></p>
<ul>
    {{#book.reviews}}
    <li><p> La opinión de: {{name}} es que es :{{description}}</p>
        <button class="btn card-button" onclick="location.href='/book/{{book.id}}/review/{{id}}'">Delete Review</button>
    </li>
    {{/book.reviews}}

</ul>

<p>
    <button class="btn card-button" onclick="location.href='/books'">Back to all books</button>
    <button class="btn card-button" onclick="location.href='/book/{{book.id}}/delete'">Delete book</button>

</p>






</body>
{{> layout/footer}}
</html>